In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import folium
from folium import Marker
from folium.plugins import HeatMap, MarkerCluster
import math
from geopandas.tools import geocode
import shapely
from shapely.geometry import Point, Polygon
from geopandas import GeoSeries, GeoDataFrame
# Function for displaying the map
def embed_map(m, file_name):
    from IPython.display import IFrame
    m.save(file_name)
    return IFrame(file_name, width='100%', height='500px')

In [2]:
super_markets = pd.read_csv("C:/Users/mirzali.jv/Desktop/Python_Geospatial/Market Analysis/super_markets.csv")

In [3]:
super_markets

                       Super_Markets        Lat       Long
0            Araz Supermarket_Nasimi  40.426458  49.827966
1        Araz Supermarket_Bakikhanov  40.423739  49.968928
2            Araz Supermarket_Nizami  40.413407  49.949530
3           Araz Supermarket_Nizami1  40.418924  49.941163
4           Araz Supermarket_Nizami2  40.418843  49.936019
5         Araz Supermarket_Narimanov  40.408929  49.868759
6      Araz Supermarket_Hasan_Aliyev  40.402830  49.852685
7           Araz Supermarket_Ataturk  40.409541  49.846547
8     Araz Supermarket_Jafar_khandan  40.415389  49.828809
9       Araz Supermarket_Kaverochkin  40.388149  49.845106
10  Araz Supermarket_Agha_Neymatulla  40.396625  49.879023

In [4]:
super_markets_df_geometry = [Point(xy) for xy in zip(super_markets.Long, super_markets.Lat)]
super_markets_geo = gpd.GeoDataFrame(super_markets, geometry=super_markets_df_geometry)

In [5]:
super_markets_geo

,Super_Markets,Lat,Long,geometry
0,Araz Supermarket_Nasimi,40.426458,49.827966,POINT (49.82797 40.42646)
1,Araz Supermarket_Bakikhanov,40.423739,49.968928,POINT (49.96893 40.42374)
2,Araz Supermarket_Nizami,40.413407,49.949530,POINT (49.94953 40.41341)
3,Araz Supermarket_Nizami1,40.418924,49.941163,POINT (49.94116 40.41892)
4,Araz Supermarket_Nizami2,40.418843,49.936019,POINT (49.93602 40.41884)
5,Araz Supermarket_Narimanov,40.408929,49.868759,POINT (49.86876 40.40893)
6,Araz Supermarket_Hasan_Aliyev,40.402830,49.852685,POINT (49.85269 40.40283)
7,Araz Supermarket_Ataturk,40.409541,49.846547,POINT (49.84655 40.40954)
8,Araz Supermarket_Jafar_khandan,40.415389,49.828809,POINT (49.82881 40.41539)
9,Araz Supermarket_Kaverochkin,40.388149,49.845106,POINT (49.84511 40.38815)
10,Araz Supermarket_Agha_Neymatulla,40.396625,49.879023,POINT (49.87902 40.39663)

In [6]:
m = folium.Map(location=[40.4, 49.8], tiles='openstreetmap', zoom_start=12)

# Add points to the map
for idx, row in super_markets_geo.iterrows():
    Marker([row['Lat'], row['Long']], icon=folium.Icon(icon='glyphicon glyphicon-shopping-cart', color="green"), popup=row['Super_Markets']).add_to(m)

# Display the map
embed_map(m, 'm.html')

In [7]:
districts = pd.read_csv("C:/Users/mirzali.jv/Desktop/Python_Geospatial/Market Analysis/Baku-Population.csv")

In [8]:
districts

          NAME  Area  Population  Density
0       Khatai  0.03        28.0     9543
1       Nizami  0.02       200.0    10000
2     Sabunchu  0.24       244.6     1019
3     Binagadi  0.17       265.8     1564
4    Narimanov  0.02       178.3     8915
5   Pirallakhi  0.03        20.5      683
6       Xhazar  0.37       166.5      450
7       Sabail  0.03       101.8     3393
8     Garadagh  1.08       125.5      116
9       Nasimi  0.01       221.1    22110
10   Surakhani  0.12       219.5     1829
11     Yasamal  0.02       247.6    12380

In [9]:
districts_shp = gpd.read_file(r"C:/Users/mirzali.jv/Desktop/Python_Geospatial/Market Analysis/Baku Districts/Baku_Districts.ver02.shp")

In [10]:
districts_shp

          NAME                                           geometry
0       Khatai  POLYGON ((49.86584 40.39110, 49.86790 40.39110...
1       Nizami  POLYGON ((49.91878 40.42339, 49.92033 40.42208...
2     Sabunchu  POLYGON ((49.91882 40.42343, 49.92001 40.42463...
3     Binagadi  POLYGON ((49.78125 40.38625, 49.75970 40.39463...
4    Narimanov  POLYGON ((49.91668 40.42486, 49.90879 40.42077...
5   Pirallakhi  MULTIPOLYGON (((50.56870 40.33045, 50.57058 40...
6       Xhazar  POLYGON ((50.33058 40.31023, 50.30885 40.32256...
7       Sabail  POLYGON ((49.77391 40.29923, 49.76291 40.29634...
8     Garadagh  POLYGON ((49.78609 40.38591, 49.78692 40.38272...
9       Nasimi  POLYGON ((49.80121 40.41474, 49.80160 40.41493...
10   Surakhani  POLYGON ((50.01910 40.45598, 50.03420 40.44336...
11     Yasamal  POLYGON ((49.80083 40.41517, 49.80200 40.41322...

In [11]:
districits_full = districts_shp.merge(districts, on="NAME")

In [12]:
districits_full

,NAME,geometry,Area,Population,Density
0,Khatai,"POLYGON ((49.86584 40.39110, 49.86790 40.39110...",0.03,28.0,9543
1,Nizami,"POLYGON ((49.91878 40.42339, 49.92033 40.42208...",0.02,200.0,10000
2,Sabunchu,"POLYGON ((49.91882 40.42343, 49.92001 40.42463...",0.24,244.6,1019
3,Binagadi,"POLYGON ((49.78125 40.38625, 49.75970 40.39463...",0.17,265.8,1564
4,Narimanov,"POLYGON ((49.91668 40.42486, 49.90879 40.42077...",0.02,178.3,8915
5,Pirallakhi,"MULTIPOLYGON (((50.56870 40.33045, 50.57058 40...",0.03,20.5,683
6,Xhazar,"POLYGON ((50.33058 40.31023, 50.30885 40.32256...",0.37,166.5,450
7,Sabail,"POLYGON ((49.77391 40.29923, 49.76291 40.29634...",0.03,101.8,3393
8,Garadagh,"POLYGON ((49.78609 40.38591, 49.78692 40.38272...",1.08,125.5,116
9,Nasimi,"POLYGON ((49.80121 40.41474, 49.80160 40.41493...",0.01,221.1,22110
10,Surakhani,"POLYGON ((50.01910 40.45598, 50.03420 40.44336...",0.12,219.5,1829
11,Yasamal,"POLYGON ((49.80083 40.41517, 49.80200 40.41322...",0.02,247.6,12380

In [13]:
m_1 = folium.Map(location=[40.4, 49.8], zoom_start=12)

folium.Choropleth(
    geo_data=districts_shp,
    name='choropleth',
    data=districts,
    columns=['NAME', 'Population'],
    key_on='feature.properties.NAME',
    fill_color='YlGnBu',
    legend_name='Population',
    popup = districts_shp.NAME
).add_to(m_1)

fg_1 = folium.FeatureGroup(name='Supermarkets')
m_1.add_child(fg_1)

for idx, row in super_markets_geo.iterrows():
    Marker([row['Lat'], row['Long']], icon=folium.Icon(icon='glyphicon glyphicon-shopping-cart', color="green"), popup=row['Super_Markets']).add_to(fg_1)


folium.LayerControl().add_to(m_1)

# Display the map
embed_map(m_1, 'm_1.html')

C:\Users\mirzali.jv\AppData\Local\Continuum\anaconda3\lib\site-packages\pyproj\crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))